.heading-img {
  background: url(../img/sumidero_canyon.png);
  background-size: cover;
  background-position: center;
  width: 100vw;
  padding: 175px;
}

.heading-title {
  color: #fff;
  text-align: center;
  font-size: 25px;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}
