.row + .row {
  margin-top: 16px;
}

.row > .col,
.row > [class^="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
}

.l-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #979797;
  background: #fff;
}

.l-footer {
  background-color: #fff;
}
